### DB 연동
- 내장 DB : SQLite(Python, 휴대폰 등 공간이 넉넉치 못한곳에서 주로 쓰임)
    - RDBMS : 테이블 형태의 DB

In [1]:
import sqlite3
from datetime import datetime

In [5]:
print(" sqlite3 version : ", sqlite3.sqlite_version)

 sqlite3 version :  3.49.1

In [13]:
now = datetime.now()
print(type(now))

# 원하는 형식으로 변경 = (datetime.datetime).strftime("형식")
nowDateTime =now.strftime("%Y-%m-%d %H:%M:%S")
print(nowDateTime)
print(type(nowDateTime))

<class 'datetime.datetime'>
2025-06-10 10:49:16
<class 'str'>

In [ ]:
# 데이터베이스 생성

conn = sqlite3.connect("./test.db", isolation_level=None) # isolation_level=None : AutoCommit 비활성화

In [ ]:
# cursor() : table을 가리키고 있는 포인터?
cursor = conn.cursor()

In [17]:
# 테이블 생성하기
# type : integer(정수), text(문자)

sql = "create table if not exists users(id integer primary key, username text, email text, phone text, website text, regdate text)"

cursor.execute(sql)

In [22]:
# create(insert)
# inser into table명(속성) values(값, ?)
# ? 값 넣기 : 튜플로 지정하기 (values)


sql = "insert into users(id, username, email, phone, website, regdate) "
sql += "values(?, ?, ?, ?, ?, ?)"

#execute() 실행의 의미 실행이 insert든 select든
cursor.execute(sql, (2,'sans' ,'skull@gmail.com' ,'1557-1577' ,'www.naver.com' , nowDateTime))

In [24]:
# 한꺼번에 insert 하기

userList = [
    (3,'Kimbokum' ,'bokum@gmail.com' ,'010-1234-5678' ,'www.naver.com' , nowDateTime),
    (4,'KimJaBan' ,'jaban@gmail.com' ,'010-1357-9123' ,'www.google.com' , nowDateTime),
    (5,'KimChiGuk' ,'chiguk@gmail.com' ,'010-1244-5346' ,'www.daum.net' , nowDateTime)
]

# executemany() 여러번 실행해야함
cursor.executemany(sql, userList)

In [34]:
# 조회(read) - fetchone(), fetchmany(), fetchall() 들이 있음

sql = "select * from users"

cursor.execute(sql)

In [36]:
cursor.fetchone()

(3,
 'Kimbokum',
 'bokum@gmail.com',
 '010-1234-5678',
 'www.naver.com',
 '2025-06-10 10:49:16')

In [35]:
cursor.fetchmany(size=2)

[(1,
  'kim',
  'kimchi@gmail.com',
  '010-1234-5678',
  'http://localhost:8080',
  '2025-06-10 10:49:16'),
 (2,
  'sans',
  'skull@gmail.com',
  '1557-1577',
  'www.naver.com',
  '2025-06-10 10:49:16')]

In [37]:
cursor.fetchall()

[(4,
  'KimJaBan',
  'jaban@gmail.com',
  '010-1357-9123',
  'www.google.com',
  '2025-06-10 10:49:16'),
 (5,
  'KimChiGuk',
  'chiguk@gmail.com',
  '010-1244-5346',
  'www.daum.net',
  '2025-06-10 10:49:16')]

In [38]:
sql = "select * from users"

cursor.execute(sql)

for row in cursor.fetchall():
    print(row)

(1, 'kim', 'kimchi@gmail.com', '010-1234-5678', 'http://localhost:8080', '2025-06-10 10:49:16')
(2, 'sans', 'skull@gmail.com', '1557-1577', 'www.naver.com', '2025-06-10 10:49:16')
(3, 'Kimbokum', 'bokum@gmail.com', '010-1234-5678', 'www.naver.com', '2025-06-10 10:49:16')
(4, 'KimJaBan', 'jaban@gmail.com', '010-1357-9123', 'www.google.com', '2025-06-10 10:49:16')
(5, 'KimChiGuk', 'chiguk@gmail.com', '010-1244-5346', 'www.daum.net', '2025-06-10 10:49:16')

In [41]:
sql = "select * from users where id=?"

cursor.execute(sql,(3,)) # tuple 특징 : 값이 하나면 , 를 써줘야함
cursor.fetchall() # all 은 값이 몇개든 무조건 list로 반환

[(3,
  'Kimbokum',
  'bokum@gmail.com',
  '010-1234-5678',
  'www.naver.com',
  '2025-06-10 10:49:16')]

In [42]:
sql = "select * from users where id in (?,?)"

cursor.execute(sql, (3,5))
cursor.fetchall()

[(3,
  'Kimbokum',
  'bokum@gmail.com',
  '010-1234-5678',
  'www.naver.com',
  '2025-06-10 10:49:16'),
 (5,
  'KimChiGuk',
  'chiguk@gmail.com',
  '010-1244-5346',
  'www.daum.net',
  '2025-06-10 10:49:16')]

In [47]:
# username 이 sans인 사람을 조회해보자

sql = "select * from users where username like ?"

cursor.execute(sql, ('sans',))
cursor.fetchall()

[(2,
  'sans',
  'skull@gmail.com',
  '1557-1577',
  'www.naver.com',
  '2025-06-10 10:49:16')]

In [51]:
# 수정 : update
sql = "update users set phone=? where id=?"

cursor.execute(sql,('042-8282', 1))

In [52]:
# 삭제 : delete 
sql = "delete from users where id=?"

cursor.execute(sql,(5,))