### DB 연동
    - oracle 연동
        - pip install oracledb 로 외부 라이브러리 다운로드 받아야함

In [1]:
import oracledb
from datetime import datetime

In [2]:
conn = oracledb.connect(user='c##java', password='12345', dsn='localhost/xe')
cursor = conn.cursor()

In [3]:
now = datetime.today()
now

datetime.datetime(2025, 6, 10, 11, 40, 36, 236773)

In [6]:
sql = "select * from board_tbl where bno between 1 and 10"
cursor.execute(sql)

In [7]:
for row in cursor.fetchall():
    print(row)

(1, datetime.datetime(2025, 5, 12, 16, 37, 22, 569378), datetime.datetime(2025, 5, 12, 16, 37, 22, 569378), '1컷 만화', 'user5@gmail.com', '맛있는 만화1편')
(2, datetime.datetime(2025, 5, 12, 16, 37, 22, 717287), datetime.datetime(2025, 5, 12, 16, 37, 22, 717287), '2컷 만화', 'user3@gmail.com', '맛있는 만화2편')
(3, datetime.datetime(2025, 5, 12, 16, 37, 22, 736266), datetime.datetime(2025, 5, 12, 16, 37, 22, 736266), '3컷 만화', 'user5@gmail.com', '맛있는 만화3편')
(4, datetime.datetime(2025, 5, 12, 16, 37, 22, 749260), datetime.datetime(2025, 5, 12, 16, 37, 22, 749260), '4컷 만화', 'user5@gmail.com', '맛있는 만화4편')
(5, datetime.datetime(2025, 5, 12, 16, 37, 22, 764251), datetime.datetime(2025, 5, 12, 16, 37, 22, 764251), '5컷 만화', 'user9@gmail.com', '맛있는 만화5편')
(6, datetime.datetime(2025, 5, 12, 16, 37, 22, 776244), datetime.datetime(2025, 5, 12, 16, 37, 22, 776244), '6컷 만화', 'user5@gmail.com', '맛있는 만화6편')
(7, datetime.datetime(2025, 5, 12, 16, 37, 22, 787238), datetime.datetime(2025, 5, 12, 16, 37, 22, 787238), '7컷 만화', 'user8@gmail.com', '맛있는 만화7편')
(8, datetime.datetime(2025, 5, 12, 16, 37, 22, 796233), datetime.datetime(2025, 5, 12, 16, 37, 22, 796233), '8컷 만화', 'user7@gmail.com', '맛있는 만화8편')
(9, datetime.datetime(2025, 5, 12, 16, 37, 22, 840208), datetime.datetime(2025, 5, 12, 16, 37, 22, 840208), '9컷 만화', 'user1@gmail.com', '맛있는 만화9편')
(10, datetime.datetime(2025, 5, 12, 16, 37, 22, 872189), datetime.datetime(2025, 5, 12, 16, 37, 22, 872189), '10컷 만화', 'user3@gmail.com', '맛있는 만화10편')

In [9]:
sql = "select * from board_tbl where bno=:bno"

# cursor.execute(sql, (1,)) # oracledb는 물음표 안됨
cursor.execute(sql,(1,))
cursor.fetchone()

(1,
 datetime.datetime(2025, 5, 12, 16, 37, 22, 569378),
 datetime.datetime(2025, 5, 12, 16, 37, 22, 569378),
 '1컷 만화',
 'user5@gmail.com',
 '맛있는 만화1편')

In [13]:
sql = "insert into board_tbl(title, content, member_id, created_date, updated_date) "
sql += "values(:1, :2, :3, :4, :5)"

data = ('python', 'python data', 'user1@gmail.com', now, now)

cursor.execute(sql, data)
conn.commit()

In [ ]:
sql = "update board_tbl set title=:1, updated_date=:2 where bno=:3"

data= ("밥묵자", datetime.today(), 141)

cursor.execute(sql, data)
conn.commit()

In [21]:
sql = "delete from board_tbl where bno=:1"

cursor.execute(sql, (141, ))
conn.commit()