# 리스트

    * java/js 의 배열과 개념 동일
    * js의 배열과 동작방식 동일함(데이터를 통일시키지 않아도 됨)

In [53]:
list1 = ["a", 10, True, object] # 정말 다양한 타입들
list2 = [] # 공백
list3 = [1, 2, ["Life", "is", "a", "dream"]] # 2차원 리스트
list4 = list('34') # list() 함수

print(list1)
print(list2)
print(list3)
print(list4)

['a', 10, True, <class 'object'>]
[]
[1, 2, ['Life', 'is', 'a', 'dream']]
['3', '4']

In [ ]:
# list index 접근
print(list4[0])
print(list1[-2])
print(list1[3])

# list도 슬라이싱 가능
print(list1[0:2])

3
True
<class 'object'>
['a', 10]

In [25]:
# 다차원 리스트 접근 방법
list6 = [1,2,["a","b",["Life","is"]]]
print(list6[-1][-1][-1]) # 다차원 리스트 접근 시 n차원 = [index] * n
print(list6[2][2:])

is
[['Life', 'is']]

In [29]:
# + : 연결
# * : 반복
print(list1 + list3)
print(list3 * 3)

['a', 10, True, <class 'object'>, 1, 2, ['Life', 'is', 'a', 'dream']]
[1, 2, ['Life', 'is', 'a', 'dream'], 1, 2, ['Life', 'is', 'a', 'dream'], 1, 2, ['Life', 'is', 'a', 'dream']]

In [ ]:
# 인덱스 접근하여 값 변경
list3[1] = 'd'
list3

[1, 'd', ['Life', 'is', 'a', 'dream']]

In [50]:
# 슬라이싱 접근하여 값 변경
list3[:2] = ['변', '신']
print(list3)

list3[1] = ['변', '신']
print(list3)

['변', '신', ['Life', 'is', 'a', 'dream']]
['변', ['변', '신'], ['Life', 'is', 'a', 'dream']]

In [54]:
# 리스트 요소 삭제


del list3[1]
print(list3)

len(list3)

[1, ['Life', 'is', 'a', 'dream']]

2

In [57]:
# for문 (사실상 forEach)
for i in list1:
    print(i, end=" ")

a 10 True <class 'object'>

# 리스트 함수

In [ ]:
# append() : 리스트의 끝에 요소 추가
# append로 추가할 요소는 무조건 1개여야함. 데이터 여러개 넣고 싶으면 리스트로 묶어야함
list6 = ['a','d','f','e']
list6.append("5")
print(list6)
list6.append([6,7,8])
print(list6)

['a', 'd', 'f', 'e', '5']
['a', 'd', 'f', 'e', '5', [6, 7, 8]]

In [94]:
# 1에서 100 사이의 숫자 중에서 짝수만 리스트로 생성
even = []
# range(시작, 끝, 증감) : range(1, 100) = 1부터 100까지
# 종료는 포함하지 않음
for i in range(2, 101, 2):
    even.append(i)
print(even, sep=" ")
del even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# 리스트 정렬
# sort() : 원본의 데이터를 (기본 오름차순)정렬시킨다. 원본을 변조시킨다.    
# 정렬 시 int 와 str 와 list 동시에 정렬 불가능 하나로 통일

list1 = [1,4,3,2]
list1.sort()
list1

[1, 2, 3, 4]

In [ ]:
# 문자 정렬 (unicode 기준 대문자 -> 소문자)
listnum = ['c','b','Z','j']
listnum.sort()
listnum

['Z', 'b', 'c', 'j']

In [ ]:
# 내림차순 정렬
listnum.sort(reverse=True)
print(listnum)

['j', 'c', 'b', 'Z']

In [ ]:
# reverse() : 뒤집기
listnum2 = [1,2,3,4,5.5,6.5]
print(listnum2)
listnum2.reverse()
print(listnum2)

[1, 2, 3, 4, 5.5, 6.5]
[6.5, 5.5, 4, 3, 2, 1]