# 리스트

    * java/js 의 배열과 개념 동일
    * js의 배열과 동작방식 동일함(데이터를 통일시키지 않아도 됨)

In [1]:
list1 = ["a", 10, True, object] # 정말 다양한 타입들
list2 = [] # 공백
list3 = [1, 2, ["Life", "is", "a", "dream"]] # 2차원 리스트
list4 = list('34') # list() 함수

print(list1)
print(list2)
print(list3)
print(list4)

['a', 10, True, <class 'object'>]
[]
[1, 2, ['Life', 'is', 'a', 'dream']]
['3', '4']

In [2]:
# list index 접근
print(list4[0])
print(list1[-2])
print(list1[3])

# list도 슬라이싱 가능
print(list1[0:2])

3
True
<class 'object'>
['a', 10]

In [3]:
# 다차원 리스트 접근 방법
list6 = [1,2,["a","b",["Life","is"]]]
print(list6[-1][-1][-1]) # 다차원 리스트 접근 시 n차원 = [index] * n
print(list6[2][2:])

is
[['Life', 'is']]

In [4]:
# + : 연결
# * : 반복
print(list1 + list3)
print(list3 * 3)

['a', 10, True, <class 'object'>, 1, 2, ['Life', 'is', 'a', 'dream']]
[1, 2, ['Life', 'is', 'a', 'dream'], 1, 2, ['Life', 'is', 'a', 'dream'], 1, 2, ['Life', 'is', 'a', 'dream']]

In [5]:
# 인덱스 접근하여 값 변경
list3[1] = 'd'
list3

[1, 'd', ['Life', 'is', 'a', 'dream']]

In [6]:
# 슬라이싱 접근하여 값 변경
list3[:2] = ['변', '신']
print(list3)

list3[1] = ['변', '신']
print(list3)

['변', '신', ['Life', 'is', 'a', 'dream']]
['변', ['변', '신'], ['Life', 'is', 'a', 'dream']]

In [7]:
# 리스트 요소 삭제


del list3[1]
print(list3)

len(list3)

['변', ['Life', 'is', 'a', 'dream']]

2

In [8]:
# for문 (사실상 forEach)
for i in list1:
    print(i, end=" ")

a 10 True <class 'object'>

# 리스트 함수

In [9]:
# append() : 리스트의 끝에 요소 추가
# append로 추가할 요소는 무조건 1개여야함. 데이터 여러개 넣고 싶으면 리스트로 묶어야함
list6 = ['a','d','f','e']
list6.append("5")
print(list6)
list6.append([6,7,8])
print(list6)

['a', 'd', 'f', 'e', '5']
['a', 'd', 'f', 'e', '5', [6, 7, 8]]

In [10]:
# 1에서 100 사이의 숫자 중에서 짝수만 리스트로 생성
even = []
# range(시작, 끝, 증감) : range(1, 100) = 1부터 100까지
# 종료는 포함하지 않음
for i in range(2, 101, 2):
    even.append(i)
print(even, sep=" ")
del even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [11]:
# 리스트 정렬
# sort() : 원본의 데이터를 (기본 오름차순)정렬시킨다. 원본을 변조시킨다.    
# 정렬 시 int 와 str 와 list 동시에 정렬 불가능 하나로 통일

list1 = [1,4,3,2]
list1.sort()
list1

[1, 2, 3, 4]

In [12]:
# 문자 정렬 (unicode 기준 대문자 -> 소문자)
listnum = ['c','b','Z','j']
listnum.sort()
listnum

['Z', 'b', 'c', 'j']

In [13]:
# 내림차순 정렬
listnum.sort(reverse=True)
print(listnum)

['j', 'c', 'b', 'Z']

In [14]:
# reverse() : 뒤집기
listnum2 = [1,2,3,4,5.5,6.5]
print(listnum2)
listnum2.reverse()
print(listnum2)

[1, 2, 3, 4, 5.5, 6.5]
[6.5, 5.5, 4, 3, 2, 1]

In [ ]:
# index() = 해당 데이터와 일치하는 인덱스 값을 반환, 찾지 못할 경우 에러를 반환

list3.index('변')

0

In [ ]:
# insert(index, value) : 해당 index에 value 삽입
print(list3)
list3.insert(0, "신")
print(list3)

['변', ['Life', 'is', 'a', 'dream'], 35]
['신', '변', ['Life', 'is', 'a', 'dream'], 35]

In [ ]:
# remove(value) : 해당 list의 value를 삭제 
# 존재하지 않을 시 에러 
# 값이 여러개일 경우 첫번째만 삭제
list3.remove('신')
list3

['변', ['Life', 'is', 'a', 'dream'], 35]

In [ ]:
# pop() : 리스트 맨 마지막 요소를 반환하고 그 요소는 삭제
# index 값을 지정할 수 있긴 하다.
print(list3)
print(list3.pop())
print(list3)

[2, 1]
1
[2]

In [ ]:
# count(value) : list 안에 해당 value의 개수를 반환
print(list3.count(3))
list3.insert(0, 3)

6

In [ ]:
# extend(values) : 여러개의 값을 한번에 추가 할 수 있다.
# 추가 된 값은 묶인 상태로 추가되는 것이 아닌 낱개로 추가된다. [1, 2, 3] => 1, 2, 3 
list3.extend([16,17,18])
list3

[3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 16,
 17,
 18,
 16,
 17,
 18,
 16,
 17,
 18,
 16,
 17,
 18,
 16,
 17,
 18,
 16,
 17,
 18,
 16,
 17,
 18,
 16,
 17,
 18]

In [ ]:
# list를 조건으로 사용 시 : 요소가 존재함 => True, 존재하지 않음 => False
if list2:
    print(True)
else:
    print(False)

list2

False

[]

In [62]:
# list1의 각 요소에 *2 를 한 후 새로운 리스트로 반환

list1 = [1,2,3,4]
list2 = []
for i in list1:
    list2.append(i * 2)

print(list2)

[2, 4, 6, 8]

In [63]:
list3 = [x * 2 for x in list1 ] 
list3

[2, 4, 6, 8]

In [65]:
print([x * x for x in range(5)])

[0, 1, 4, 9, 16]

In [13]:
# 주차장 프로그램 작성

# 메뉴 선택 => 1
# A 자동차 들어감. 주차장 상태 ==> ['A']
# B 자동차 들어감. 주차장 상태 ==> ['A', 'B']

# 메뉴 선택 => 2
# B 자동차 나감. 주차장 상태 ==> ['A']

parking_lot = []
top, car_name = 0, "A"


while True:
    no = int(input("[1] 자동차 넣기 | [2] 빼기 | [3] 종료"))

    if no > 3:
        print("메뉴를 확인해 주세요")
        continue

    if no == 1:
        # 주차장에 차가 5대 이상일 경우 추가 제한
        if top >= 5:
            print("주차장 꽉 찼음")
            continue

        parking_lot.append(car_name)

        # 상태 수정
        car_name = chr(ord(car_name) + 1)
        top += 1

    elif no == 2:

        # 주차장에 차가 없을 경우 삭제 제한
        if top == 0:
            print("자동차가 없어요")
            continue

        parking_lot.pop()

        # 상태 수정
        car_name = chr(ord(car_name) - 1)
        top -= 1

    if no == 3:
        break

    # 주차장 상태 출력
    print(f"주차장 상태 {parking_lot}")

주차장 상태 ['A']
주차장 상태 []

In [ ]:
# ord() :  문자를 유니코드 값으로 반환
ord("A")
alpa = chr(ord("A") + 2)
print(alpa)

C

# List Comprehension

In [16]:
list1 = ["갑", "을", "병", "정"]
# 정 글자만 제외하고 새로운 리스트로 생성하기

list2 = []
for s in list1:
    if s != "정":
        list2.append(s)


print(list2)

['갑', '을', '병']

In [17]:
list2 = [s for s in list1 if s != "정"]
list2

['갑', '을', '병']

In [ ]:
# 1 ~ 100 숫자 중에서 홀수만 리스트로 생성

# list2 = list(range(1, 101, 2)) 도 가능
list1 = [num for num in range(1, 101, 2)]
list1

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]